*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --bg: #f2f2f2;
  /*grey color*/

  --blue-color: #2f80ed;
  /*blue color*/
  --grey-color: #2f80ed;
  /*grey color*/
  --box-color: #ffffff;
  /*background color for boxes*/

  --font-color-headers: #4f4f4f;
  --gray3-color: #828282;
  --gray2-color: #4f4f4f;
  --onecol-header-color: #333333;
  --blog-hidden-color: #e0e0e0;
  --skill-color: #c4c4c4;

  --px48: 3rem;
  /*48 px*/
  --px36: 2.25rem;
  /*36 px*/
  --px24: 1.5rem;
  /*24px*/
  --px18: 1.125rem;
  /*18px*/
  --px16: 1rem;
  /*16px*/
  --px14: 0.875rem;
  /*14px*/
  --px12: 0.75rem;
  /*12px*/
  --px10: 0.625rem;
  /*10px*/

  --mont-font: "Montserrat", sans-serif;
  --roboto-font: 'Roboto', sans-serif;
}

body,
div,
h1,
h2,
p,
section,
img,
h3,
footer,
nav,
a,
ul,
h4,
form,
fieldset,
legend,
input,
label,
ol,
picture {
  margin: 0;
  padding: 0;
  border: none;
}

ol,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--grey-1-color);
}

a:visited {
  color: var(--grey-1-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: var(--bg);

  font-family: var(--pop-font);
  font-style: normal;
  border-radius: 12px;

  background-color: var(--bg);
}

.img-fluid {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 92%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

p {
  font-family: var(--mont-font);
  font-style: normal;
  font-weight: 500;
  font-size: var(--px18);
  line-height: 22px;

  /* Gray 3 */

  color: var(--gray3-color);
}

.box{
  background-color: white;
  border-radius: 12px;
}

footer {
  margin-top: auto;
  font-family: var(--mont-font);
  text-align: center;
  font-weight: 500;
  font-size: var(--px14);
  line-height: 17px;
  color: var(--gray3-color);
  margin-bottom: 24px;
}

/*---------------------------------------------ABOUT COMPONENT-----------------------------------------------------------------------*/

#about{
  margin-top: 70px;
  margin-bottom: 42px;
}

#about .box{
  padding: 22px 22px 22px 22px;
}

.figure .img-fluid{
  border-radius: 12px;
  max-width: 351px;
}

.figure-text{
  margin-top: 23px;
  margin-bottom: 32px;
}

.figure-text p {
  font-size: var(--px16);
}

.title{
  font-family: var(--mont-font);
  font-weight: 600;
  font-size: var(--px18);
  line-height: 29.26px;

  color: var(--font-color-headers);

  margin-bottom: 6px;
}

.contacts{
  margin-top: 30px;
  margin-bottom: 33px;
}

.contact-field{
  display: flex;
  margin-bottom: 8px;
}

.contact-field p{
  margin-left: 16px;

  font-size: var(--px14);
}

.hidden{
  display: none;
}

.shadow-box{
  /*0.79*/
  position: relative;
  bottom: 0;

  width: 0.79%;
  height: 1px;
  box-shadow: 0px 4px 32px 0px #0000001F;
  max-width: 828px;
}

/*---------------------------------------------SKILLS COMPONENT-----------------------------------------------------------------------*/
#main-content{
  margin-top: 42px;
}

#skill-box h2.title{
  margin-bottom: 17px;

  font-weight: 700;
}

.skill-box{
  margin-bottom: 42px;
}

.skill-field{
  display: flex;
  margin-bottom: 16px;

  justify-content: space-between;
}

.skill-field p{
  font-size: var(--px16);
  line-height: 20px;
}

.container{
  width: 65%;
  max-width: 234px;

  background-color: var(--skill-color);

  height: 9px;
  margin: auto 0;
  border-radius: 12px;

  /* align-self: flex-start; */
}

#react-skill{
  width: 33%;
  height: 9px;
  background-color: var(--blue-color);
  border-radius: 12px;
}

#css-skill{
  width: 90%;
  height: 9px;
  background-color: var(--blue-color);
  border-radius: 12px;
}

#js-skill{
  width: 55%;
  height: 9px;
  background-color: var(--blue-color);
  border-radius: 12px;
}

#boot-skill{
  width: 60%;
  height: 9px;
  background-color: var(--blue-color);
  border-radius: 12px;
}

#figma-skill{
  width: 50%;
  height: 9px;
  background-color: var(--blue-color);
  border-radius: 12px;
}

/*---------------------------------------------HOBBY COMPONENT-----------------------------------------------------------------------*/

.hobby-field{
  margin-bottom: 36px;
}

.hobby-box h2.title{
  font-weight: 500;
  margin-bottom: 26px;
}

.hobby-field .figure .img-fluid{
  max-width: 380px;
  margin-bottom: 26px;
}

.hobby-field h2{
  font-weight: 600;
  font-size: var(--px18);
  line-height: 22px;
  margin-bottom: 10px;

  color: var(--onecol-header-color);
}

.hobby-field p{
  font-weight: 500;
  font-size: var(--px16);
  line-height: 20px;
}

.hobby-box{
  margin-bottom: 42px;
}

/*---------------------------------------------BLOG COMPONENT-----------------------------------------------------------------------*/
div#blog.box{
  padding: 31px 0 32px 20px;
  margin-bottom: 42px;
}

.pale{
  font-size: var(--px16);
  line-height: 20px;

  color: var(--blog-hidden-color);
}

.description{
  display: flex;
  margin-bottom: 50px;

  justify-content: space-between;
}

.description h2{
  font-weight: 500;
  color: var(--onecol-header-color);
  line-height: 30px;

  margin-top: 21px;
}

.description .figure .img-fluid{
  border-radius: unset;

  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.article-about{
  font-size: var(--px16);
  line-height: 20px;
  margin-bottom: 15px;
  margin-right: 22px;
}

#blog a{
  color: var(--blue-color);
  font-weight: 500;
  line-height: 20px;
  display: block;
  margin-top: 66px;
}

/*---------------------------------------------EXP COMPONENT-----------------------------------------------------------------------*/
#exp{
  padding: 17px 31px 33px 31px;
}

#exp .title{
  font-weight: 500;
  font-size: var(--px24);
  margin-bottom: 44px;

  color: var(--font-color-headers);
}

#exp .exp-field{
  display: flex;
  justify-content: space-between;

  margin-bottom: 36px;
}

#exp .exp-field .img-fluid{
  max-height: 84px;

  max-width: 119px;

  margin-right: 22px;
}

#exp .headers p:first-child{
  font-size: var(--px14);
  line-height: 17px;
  margin-bottom: 12px;
}

#exp .headers p:last-child{
  font-size: var(--px16);
  line-height: 19.5px;
  margin-bottom: 33px;
  color: var(--onecol-header-color);
}

.exp-description{
  font-size: var(--px16);
  line-height: 19.5px;
}

/*---------------------------------------------PROJECT HEADER COMPONENT-----------------------------------------------------------------------*/
#main-content{
  margin-bottom: 42px;
}

#projects-selector{
  margin-bottom: 36px;
}

#projects-selector .title{
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 16px;
}

.selective{
  border: 1px solid var(--font-color-headers);
  padding: 8px 22px;
  border-radius: 12px;

  font-family: var(--mont-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  text-align: center;
  color: var(--font-color-headers);

  background-color: transparent;

  margin-right: 16px;
  margin-bottom: 8px;
}

.selective:active{
  opacity: 0.7;
}

.selective:hover, .selective.focused{
  background-color: var(--blue-color);
  color: var(--box-color);

  border: 1px solid var(--blue-color);
}

/*---------------------------------------------PROJECTS COMPONENT-----------------------------------------------------------------------*/
#projects .box{
  padding: 18px 18px 33px 18px;
}

.project{
  margin: 0 auto 36px auto;
  /* margin-right: 30px; */

  max-width: 328px;
}

.project .figure{
  margin-bottom: 24px;
}

.project .tags{
  font-size: var(--px16);
  line-height: 19.5px;
  margin-bottom: 22px;
}

.project .tags span{
  margin-right: 10px;
}

.project-desc .title{
  font-size: var(--px24);
  font-weight: 500;
  color: var(--onecol-header-color);
  margin-bottom: 18px;
}

.project-desc .subtext{
  font-size: var(--px16);
  line-height: 19.5px;
  margin-bottom: 41px;
}

.btns{
  display: flex;
}

.btn{
  padding: 13px 38px;
  margin-right: 11px;
  border-radius: 12px;

  font-family: var(--mont-font);
  font-weight: 500;
  font-size: var(--px18);
  line-height: 21.94px;

  cursor: pointer;

  border: none;
}

a.btn-filled:visited, .btn-filled{
  background-color: var(--blue-color);
  color: var(--box-color);
}

a.btn-solid:visited, .btn-solid{
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
}

/*---------------------------------------------PAGES COMPONENT-----------------------------------------------------------------------*/
#page-selector{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 147px;
}

.page{
  border: 1px solid var(--font-color-headers);
  padding: 11px 0;
  text-align: center;
  margin-right: 12px;
  border-radius: 4px;
  width: 36px;
  height: 36px;

  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: var(--px12);
  line-height: 14.06px;
  color: var(--font-color-headers);

  cursor: pointer;
}

.page:nth-child(4){
  border: unset;
  padding: 6px;
  cursor: unset;
}

#arrow-right, #arrow-left{
  padding: 6px;
}

.page.filled{
  border: 1px solid var(--blue-color);
  background-color: var(--blue-color);
  color: var(--box-color);
}

/*---------------------------------------------375 PX-----------------------------------------------------------------------*/

@media screen and (min-width: 375px) {
  .figure-text p {
    font-size: var(--px18);
  }

  .title{
    font-size: var(--px24);
  }
  
  .contact-field p{
    font-size: var(--px16);
  }  
}

/*---------------------------------------------425 PX-----------------------------------------------------------------------*/

@media screen and (min-width: 425px) {  
  .contact-field p{
    font-size: var(--px18);
  }
}

/*---------------------------------------------768 PX-----------------------------------------------------------------------*/

@media screen and (min-width: 768px) {
   .flex{
    display: flex;
   }

   .figure-text{
    margin-top: 0;
    margin-left: 34px;
   }

   .details{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
   }

   .contacts{
    margin-top: 0;
    margin-bottom: 0;
   }

   .figure-text p {
    font-size: var(--px14);
  }

  .title{
    font-size: var(--px16);
  }
  
  .contact-field p{
    font-size: var(--px14);
  }

  #main-content{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .one-column{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .two-column{
    grid-column-start: 2;
    grid-column-end: 4;

    margin-left: 34px;
  }

  /*PROJECTS*/

  #projects{
    display: grid;
    grid-template-columns: auto auto;
  }

  .project:last-child{
    display: none;
  }
}

/*---------------------------------------------1024 PX-----------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {
  .figure-text p {
    font-size: var(--px18);
  }

  .title{
    font-size: var(--px24);
  }
  
  .contact-field p{
    font-size: var(--px18);
  }

  .hidden{
    display: block;
    margin-top: 30px;
  }

  /*PROJECTS*/

  #projects{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .project{
    margin-right: 15px;
  }

  .project:last-child{
    display: unset;
  }
}

/*---------------------------------------------1440 PX-----------------------------------------------------------------------*/

@media screen and (min-width: 1440px) {
  .project{
    margin-right: 30px;
    max-width: unset;
  }
}